{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
    <div style=" text-align: center; font-weight: normal">
        <h2 class="text_block" style="margin: 0 10% 0 10%">Статистика по городам</h2>
        <div style="width: 49%;float:right; padding: 20px 15% 0 0;">
            <table class="table table-bordered">
                <tr>
                    <th><strong>Город</strong></th>
                    <th><strong>Доля вакансий</strong></th>
                </tr>

                <tr>
                    <th>Москва</th>
                    <th>31.37%</th>
                </tr>

                <tr>
                    <th>Санкт-Петербург</th>
                    <th>11.06%</th>
                </tr>

                <tr>
                    <th>Новосибирск</th>
                    <th>2.41%</th>
                </tr>

                <tr>
                    <th>Минск</th>
                    <th>2.19%</th>
                </tr>

                <tr>
                    <th>Казань</th>
                    <th>2.11%</th>
                </tr>

                <tr>
                    <th>Нижний Новгород</th>
                    <th>2.10%</th>
                </tr>

                <tr>
                    <th>Алматы</th>
                    <th>1.90%</th>
                </tr>

                <tr>
                    <th>Екатеринбург</th>
                    <th>1.82%</th>
                </tr>

                <tr>
                    <th>Ростов-на-Дону</th>
                    <th>1.82%</th>
                </tr>

                <tr>
                    <th>Краснодар</th>
                    <th>1.59%</th>
                </tr>


            </table>
        </div>

        <div style="width: 49%; float:left; padding:20px 0 0 15%">
            <table class="table table-bordered">
                <tr>
                    <th><strong>Город</strong></th>
                    <th><strong>Уровень зарплат</strong></th>
                </tr>
                <tr>

                <tr>
                    <th>Киев</th>
                    <th>97944</th>
                </tr>

                <tr>
                    <th>Москва</th>
                    <th>85539</th>
                </tr>

                <tr>
                    <th>Санкт-Петербург</th>
                    <th>72900</th>
                </tr>

                <tr>
                    <th>Минск</th>
                    <th>70041</th>
                </tr>

                <tr>
                    <th>Новосибирск</th>
                    <th>69034</th>
                </tr>

                <tr>
                    <th>Екатеринбург</th>
                    <th>66848</th>
                </tr>

                <tr>
                    <th>Казань</th>
                    <th>55723</th>
                </tr>

                <tr>
                    <th>Самара</th>
                    <th>54699</th>
                </tr>

                <tr>
                    <th>Нижний Новгород</th>
                    <th>53138</th>
                </tr>

                <tr>
                    <th>Краснодар</th>
                    <th>53014</th>
                </tr>


            </table>
        </div>
    </div>
{% endblock %}