{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
    <div>
        <div>
            <p class="text-justify"><b>DevOps — что это, зачем, и насколько востребовано?</b></p>
            <p>При разработке какого либо IT продукта учавствуют разные
                отделы одной компании, и действия их далеко не всегда хорошо скоординированы.
                Так, разработчики, например, не всегда знают о том, какие проблемы возникают у
                пользователей, которые работают с выпущенной программой или сервисом. Техподдержка
                — знает все отлично, но она может быть не в курсе того, что «внутри» ПО. И тут приходит
                на помощь DevOps-инженер, который помогает координировать процесс разработки,
                способствует автоматизации процессов, улучшает их прозрачность.
                Концепция DevOps объединяет людей, процессы и инструменты.</p>

            <p><b>Что должен знать и уметь DevOps-инженер?</b></p>
            <p>
                По мнению одного из наиболее известных адептов концепции DevOps Джо Санчеса,
                представитель профессии должен хорошо понимать нюансы самой концепции, иметь опыт
                администрирования как Windows, так и Linux-систем, понимать программный код,
                написанный на разных ЯП, работать Chef, Puppet, Ansible. Понятно, что для разбора кода
                нужно знать несколько языков программирования, и не просто знать, но и иметь опыт
                разработки. А еще очень желателен опыт тестирования готовых программных продуктов и
                сервисов.
                Но это в идеале, такой уровень опыта и знаний найдется далеко не у каждого
                представителя IT-сферы. Вот набор минимально необходимых для хорошего DevOps
                знаний и опыта:</p>
            <ul>
                <li>ОС GNU/Linux, Windows.</li>
                <li>Не менее 1 языка программирования (Python, Go, Ruby).</li>
                <li>Язык сценариев командной оболочки — bash при работе с Linux и powershell в случае Windows.</li>
                <li>Систему контроля версий — Git.</li>
                <li>Системы управления конфигурацией (Ansible, Puppet, Chef).</li>
                <li>Хотя бы одна из платформ для оркестрации контейнеров (Kubernetes, Docker Swarm, Apache Mesos, Amazon
                    EC2 Container Service, Microsoft Azure Container Service).
                </li>
                <li>Умение работать с облачными провайдерами (например: AWS, GCP, Azure и др.) с
                    использованием Terraform, знать как развертывается приложение в облако.
                </li>
                <li> Умение настраивать конвейер CI/CD (Jenkins, GitLab), ELK стек, системы мониторинга
                    (Zabbix Prometheus)
                </li>
            </ul>
            <p>Кроме того, DevOps-cпециалист должен понимать потребности и требования бизнеса,
                видеть его роль в процессе разработки и уметь строить процесс с учетом интересом
                заказчика
            </p>

            <p><b>А что с порогом входа?</b></p>
            <p>Список знаний и опыта не зря был подан выше. Теперь становится проще понять, кто же
                может стать DevOps-специалистом. Получается, что проще всего перейти в эту профессию
                для представителей других IT-специальностей, в особенности — системным
                администраторам и разработчикам. И тем, и другим можно быстро нарастить
                недостающий объем опыта и знаний. Половина необходимого набора у них уже есть, а
                нередко — и больше половины.
                А еще отличные DevOps-инженеры получаются из тестировщиков. Они знают, что и как
                работает, в курсе недостатков и недоработок ПО и «железа». Можно сказать, что тестировщик, который знает
                языки
                программирования и умеет писать программы — без
                пяти минут DevOps.
                А вот представителю нетехнической специальности, никогда не имевшему дело ни с
                разработкой, ни с системным администрированием, будет сложно. Конечно, ничего
                невозможного нет, но все же новичкам нужно адекватно оценивать свои силы.</p>

        </div>
        <img class="home_img_roadmap" src="{% static 'main/img/roadmap.png' %}">
        <p><b>https://github.com/milanm/DevOps-Roadmap</b></p>

    </div>
{% endblock %}