{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
    <div>

        <div class="text_block" style="float: left; width: 60%;">
            <div>
                <h2>История DevOps</h2>
                <br>
                <h3>Миры dev и ops</h3><br>
                История начинается в Бельгии 2007-ого с парня по имени Патрик Дебуа. У Патрика была интересная цель: он
                хотел изучить IT со всех сторон. Патрик был консультантом, но выбирал вакансии так, чтобы поработать в
                каждой IT-отрасли. <br>
                <br>
                Однажды он взялся за государственный проект по перемещению огромного дата-центра. Патрик отвечал за
                тестирование, и ему приходилось много бегать между группой разработчиков (dev groups) и службой
                эксплуатации (ops groups). Этот контраст между работой разрабов и майнтенансов всегда расстраивал
                Патрика, но на этом проекте особенно. Поэтому один день он работал в ритме гибкой методологии
                разработки, а на другой уже боролся с огнём и жил в непредсказуемости ежедневной эксплуатации. Патрик
                знал, должен существовать способ получше, но миры dev и ops разделяли мили, и конфликты были повсюду.
                <br>
                <br>
                Перенесёмся в Торонто 2008-ого, к конференции Agile. [Бывший программист] Эндрю Шейфер запостил на стене
                идею BoF-сессии «гибкая инфраструктура» для людей со схожим мнением про dev и ops. На мероприятие пришёл
                только один человек, и да, вы угадали, это был Патрик Дебуа. Даже Эндрю пропустил собственную сессию.
                Фидбека почти не было, и он решил, что никому не интересно бороться с разрывом между разработкой и
                эксплуатацией. Но Патрик пришёл на конференцию с презентацией об использовании Scrum и других гибких
                методологий в рамках модели Agile. Он был очень возбуждён, что кто-то ещё разделяет его мнение. Патрик
                выследил Эндрю в конференц-зале, и у них завязалась долгая дискуссия. В конце концов Патрик и Эндрю
                решили, что у них должны быть единомышленники, ведь проблема казалась широко распространённой и
                систематической. <br>
                <br>
                Теперь немного контекста. Внутри более широкого сообщества гибких методологий Agile непрерывная
                интеграция набирала популярность и двигала комьюнити больше в сторону deployment, но не было почти
                ничего, что могло бы преодолеть разрыв с эксплуатацией. Поэтому Эндрю и Патрик решили сформировать Agile
                Systems Administration в Google Groups. Там было несколько интересных бесед, но трафик оставался
                довольно низким. <br>
                <br>
                <h3>DevOpsDays</h3><br>
                Перейдём к 2009 году, когда Джон Оллспоу и Пол Хэммонд вместе работали во Flickr. 23 июня на O'reilly’s
                Velocity Сonference в Сан-Хосе они представили свой ныне знаменитый доклад
                <a href="https://tech-talks.code-maven.com/ten-plus-deploys-per-day.html">«10-plus deploys per day: dev
                    and ops cooperation at Flickr»</a>
                . Патрик был дома в Бельгии и смотрел стрим лекции. Это оно — понял Патрик
                — как раз та тема, которой он бредил. В твиттере Патрик сокрушался, как он хотел бы посетить Velocity,
                но Пол Нассер написал, мол, Патрик, почему бы тебе не запустить свою Velocity в Бельгии, мы все могли бы
                поприсутствовать, разве не круто, хаха. <br>
                <br>
                Для Патрика эта шутка стала навязчивой идеей. И спустя время он выложил в твиттере анонс собрания
                разработчиков и сисадминов в Генте 30-31 октября 2009. Патрик понимал, что событию нужно название, и
                очевидно было включить в него «Dev» и «Ops». А ещё это была двухдневная конференция, и Патрику почему-то
                нравился акроним DoD (напоминал ему о dead on delivery). Так и появилось название DevOpsDays. <br>
                <br>
                Может дело было в удачном расписании поездов или чем-то другом, теперь мы не узнаем, но толпа
                прогрессивных сисадминов, разработчиков, менеджеров и системных программистов была впечатляющей. Они
                приехали со всего мира, чтобы поучаствовать в DevOpsDays. Конечно, когда событие закончилось, все
                бросились врассыпную по своим уголкам земного шара, но обсуждение в твиттере продолжалось. <br>
                <br>
                Использовать в качестве хэштега полное название — #DevOpsDays — стало обременительным. «Days» выкинули,
                чтобы не тратить на него целых 4 из 140 ценных символов. И хэштег DevOps действительно прижился. <br>
                <br>
                Кстати, о распространении — Линдси Хоумвуду так сильно понравилась идея DevOps, что он привёз её с собой
                в Сидней и создал свои первые DevOpsDays. Мы с Эндрю Шейфером и Джоном Уиллисом собрались, установили
                контакт со Стефаном Апитзом и Дэниэлем Франциско на LinkedIn и провели первые DevOpsDays в США, сразу
                после Velocity 2010 года. Но в то же время происходило нечто более интересное.<br>
                <br>
                <h3>DevOps идёт в Enterprise</h3><br>
                Воодушевлённые движущей силой предыдущих встреч, неравнодушные люди вдруг обнаружились по всему свету,
                чтобы поделиться опытом и обсудить идеи под новым знаменем «DevOps». <br>
                <br>
                DevOps стал громоотводом для людей, которым было что сказать про работу в индустрии: как она построена и
                какой должна быть. Презентации, митапы на других конференциях — это было продолжением онлайн-движения,
                того потока твитов и блог-постов, в которых люди делились опытом и учились на чужом. Когда появились
                пародийные песни и музыкальные видео, стало ясно, что DevOps задевает за живое. Это было уже
                сформировавшееся массовое движение, довольно редкое в сфере IT. Его все ещё сильно игнорировали вендоры,
                аналитики, большинство традиционных enterprise IT-магазинов, но движение росло, питаясь страстью
                неравнодушных. Эти люди, в прошлом веб-разработчики, много писали на тему DevOps в свободное время и
                обсуждали при встрече. Они реально сочувствовали культурным и функциональным недостаткам классических
                инструментов, с которыми им приходилось работать.<br>
                <br>
                В ответ сообщество DevOps запустило новое поколение инструментов, которые формализовали лучшие практики
                (best practices). У инструментов были забавные названия типа puppet, chef, vagrant, juju, rundeck,
                logstash, fpm (вы можете только догадываться, что символизирует f в fpm). Но это были серьёзные
                инструменты, гораздо более эффективные, чем legacy tools. Они были своеобразными артефактами комьюнити,
                символизировали лучший метод работы и формализации мышления о новых идеях и новых процессах. Но для
                непосвящённых это были новые сверкающие игрушки: им завидовали, о них говорили. Но энтузиазм насчёт этих
                инструментов был питающей силой. Очень скоро опытные аналитики начали понимать, что, эй, тут творится
                что-то интересное, может, нам стоит присоединиться к обсуждению. <br>
                <br>
                Сначала это были такие ребята, как Майкл Коте из Red Monk, Джей Лайман из The 451 Group. А потом и
                Кэмерон Хейт из Gartner. Он оказал очень интересное влияние: едва различимое, но потенциально знаковое в
                отношениях DevOps и Enterprise. Я не могу это доказать, но тайминг любопытный. В марте 2011 Кэмерон
                вставляет в презентацию слайд, и посылает сильный сигнал Enterprise IT-магазинам и вендорам, которые их
                обслуживают. Он заявляет доныне неслыханное в DevOps-движении.<br>
                <br>
                Кэмерон говорит, что к 2015 году DevOps эволюционирует из нишевой стратегии, интересной большими
                облачными провайдерами, в мейнстримную, используемую 20% из Global 2000 organizations. Не знаю, говорите
                ли вы на языке аналитиков, но грубый перевод такой — «DevOps реальный, зацените». Некоторые могут
                заморочиться насчёт пророчества о 20% — слишком оптимистичное оно или слишком консервативное, но суть не
                в этом. Главное, прослеживается чёткое сообщение: DevOps идёт в Enterprise, ставьте на него. <br>
                <br>
            </div>
            <a href="https://habr.com/ru/company/first/blog/339814/"> Оригинал статьи</a>
        </div>
        <img class="home_img_roadmap" src="{% static 'main/img/roadmap.png' %}">


    </div>
{% endblock %}