{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="text_block"><h3>Данные о вакансиях</h3>
            <p style="font-size: 20px;">На графиках ниже представлены сравнения вакансии DevOps со средними показателями по ITсфере</p>
        </div>
        <div style="padding: 30px 10% 0 10%">
            <img width="48%" src="{% static 'main/img/salary.png' %}"/>
            <img width="48%" src="{% static 'main/img/quanity.png' %}"/>
        </div>
    </div>

{% endblock %}