{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}

    <div>
        <h2>Список самых популярных скилов</h2>
        <div style="padding: 0 30% 0 30% ">
            <ul class="list-group">
                <li class="list-group-item">Linux</li>
                <li class="list-group-item">Docker</li>
                <li class="list-group-item">PostgreSQL</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Ansible</li>
                <li class="list-group-item">MySQL</li>
                <li class="list-group-item">Java</li>
                <li class="list-group-item">AWS</li>
                <li class="list-group-item">Git</li>
                <li class="list-group-item">Zabbix</li>
                <li class="list-group-item">Jenkins</li>
                <li class="list-group-item">Kubernetes</li>
                <li class="list-group-item">CentOS</li>
                <li class="list-group-item">Business English</li>
                <li class="list-group-item">Gitlab</li>
                <li class="list-group-item">KVM</li>
            </ul>
        </div>
    </div>


{% endblock %}