{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}

    <div class="skill_list" >
        <div>
        <h2  class="text_block" style="text-align: center">Список самых популярных скилов</h2>

            <ul class="list-group">
                <a href="https://ru.wikipedia.org/wiki/Linux"><li class="list-group-item">Linux</li></a>
                <a href="https://ru.wikipedia.org/wiki/Docker"><li class="list-group-item">Docker</li></a>
                <a href="https://ru.wikipedia.org/wiki/PostgreSQL"><li class="list-group-item">PostgreSQL</li></a>
                <a href="https://ru.wikipedia.org/wiki/Python"><li class="list-group-item">Python</li></a>
                <a href="https://ru.wikipedia.org/wiki/Ansible"><li class="list-group-item">Ansible</li></a>
                <a href="https://ru.wikipedia.org/wiki/MySQL"><li class="list-group-item">MySQL</li></a>
                <a href="https://ru.wikipedia.org/wiki/Java"><li class="list-group-item">Java</li></a>
                <a href="https://ru.wikipedia.org/wiki/Amazon_Web_Services"><li class="list-group-item">AWS</li></a>
                <a href="https://ru.wikipedia.org/wiki/Git"><li class="list-group-item">Git</li></a>
                <a href="https://ru.wikipedia.org/wiki/Zabbix"><li class="list-group-item">Zabbix</li></a>
                <a href="https://ru.wikipedia.org/wiki/Jenkins"><li class="list-group-item">Jenkins</li></a>
                <a href="https://ru.wikipedia.org/wiki/Kubernetes"><li class="list-group-item">Kubernetes</li></a>
                <a href="https://ru.wikipedia.org/wiki/CentOS"><li class="list-group-item">CentOS</li></a>
                <a href="https://www.google.ru/search?q=Business English"><li class="list-group-item">Business English</li></a>
                <a href="https://about.gitlab.com/"><li class="list-group-item">Gitlab</li></a>
                <a href="https://ru.wikipedia.org/wiki/KVM"><li class="list-group-item">KVM</li></a>
            </ul>
        </div>
    </div>


{% endblock %}