{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
    <div>
           {{ skillspage.text|safe }}
    </div>
    <img class="skills_img" src="{{ skillspage.graph.url }}" alt="homepage_img">

    <div class="skill_list">
                <a href="https://ru.wikipedia.org/wiki/Linux">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/lunix.png' %}" alt="linux">
                        <p>Linux</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Docker">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/docker.png' %}" alt="docker">
                        <p>Docker</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/PostgreSQL">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/postgreSQL.png' %}" alt="PostgreSQL">
                        <p>PostgreSQL</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Python">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/python.png' %}" alt="Python">
                        <p>Python</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Ansible">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/ansible.png' %}" alt="Ansible">
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/MySQL">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/mySQL.png' %}" alt="MySQL">
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Amazon_Web_Services">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/aws.png' %}" alt="AWS">
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Git">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/git.png' %}" alt="Git">
                        <p>Git</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Zabbix">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/zabbix.png' %}" alt="Zabbix">
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Jenkins">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/jenkins.jpeg' %}" alt="Jenkins">
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Kubernetes">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/kubernetes.png' %}" alt="Kubernetes">
                        <p>Kubernetes</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/CentOS">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/centOS.png' %}" alt="CentOS">
                    </div>
                </a>
                <a href="https://www.google.ru/search?q=Business English">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/english.png' %}" alt="CentOS">
                        <p>Business English</p>
                    </div>
                </a>
                <a href="https://about.gitlab.com/">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/gitlab.png' %}" alt="Gitlab">
                        <p>Gitlab</p>
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/KVM">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/kvm.png' %}" alt="KVM">
                    </div>
                </a>
                <a href="https://ru.wikipedia.org/wiki/Java">
                    <div>
                        <img class="skills_img" src="{% static 'main/img/java.png' %}" alt="Java">
                    </div>
                </a>
            </div>


{% endblock %}