{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}


        <h3 class="text_block" style="text-align: center"> Последние вакансии</h3>
    <br>
    <div id="accordion">
        {% for vacancy in vacancies %}
                <div class="card" style=" border-radius: 20px; position: static" >
                    <div class="card-header" id="headvacancy{{forloop.counter }}">
                        <h5 class="mb-0" >
                            <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#vacancy{{forloop.counter }}"
                                            aria-expanded="true" aria-controls="vacancy{{forloop.counter }}" style="text-decoration: none; color: black">
                                <h6 class="text_block" >{{ vacancy.name }}</h6>
                            </button>
                        </h5>
                    </div>
                    <div id="vacancy{{forloop.counter }}" class="collapse" aria-labelledby="headvacancy{{forloop.counter }}" data-parent="#accordion">
                    <div class="card-body">
                        <div class="text_block" style="font-size: 17px ">
                            <br>
                            <p><b>Зарплата:</b> {{ vacancy.salary }}</p>
                            <p><b>Описание:</b></p>
                            <div style="padding-left:3%;">
                                <p>{{ vacancy.description|safe }}</p>
                            </div>
                            <p><b>Навыки:</b> {{ vacancy.key_skills }}</p>
                            <p><b>Компания:</b> {{ vacancy.employer }}</p>
                            <p><b>Расположение:</b> {{ vacancy.address }}</p>
                            <p><b>Дата публикации:</b> {{ vacancy.published_at }}</p>
                            <a style="color: orange" href={{ vacancy.url }}><strong>Страница на HH.ru</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}


