body {
    /*background: #E3E2DF;*/
    /*background: #69BDBA;*/
    min-height: 100%;
}


.list_menu ul {
    padding-top: 100px;
    text-decoration: none;
    list-style: none;
}

.list_menu ul li:hover, aside ul a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.menu img {
    background: #69BDBA;
    color: #111;
    float: top;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

.title h1 {
    font-size: 40px;
    color: #fcfffc;
    margin-bottom: 50px;
}

.list_menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fcfffc;
    transition: 0.2s ease;
    padding-left: 5px;
}

.list_menu a:hover {
    transition: 0.2s ease;
    padding-left: 10px;
}

.list_menu li {
    /*font-family: Monaco, serif;*/
    transition: transform .6s ease;
    margin: 20px 0;
}

.list_menu {
    margin-bottom: 10px;
}

.menu {
    padding: 50px;
    background: #69BDBA;
    height: 100vh;
    border-right: 4px solid #111;
    position: fixed;
    left: -345px;
    transition: 0.4s ease;
}

.menu:hover {
    left: -50px;
    transition: 0.5s ease;
}


header {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    float: right;
    text-align: right;
    letter-spacing: 8px;
    height: 6em;
    padding: 1em 5%;
    background: #111;
    color: #fff;
}

.head_img {
    color: #b55d0b;
    float: left;
    width: 30px;
    height: auto;
}

.footer {
    font-weight: lighter;
    text-align: center;
    background: #111;
    padding-top: 10px;
    margin-top: auto;
    color: #fff;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main {
    /*font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*/
    padding: 40px 70px 40px 100px;
}

.home_img_roadmap {
    padding-top: 70px;
    float: right;
    width: 39%;
    height: auto;
}

.skill_list a {
    text-decoration: none;
}

.skill_list ul {
    padding: 20px;
}

.skill_list {
    padding: 0 30% 0 30%;
}

.text_block{
    background: #c3e4e3;
    padding: 30px;
    border-radius: 20px;
}

/*.info_text {*/
/*    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;*/
/*}*/